<header>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<ul class="hide-on-med-and-down">
					<li><span class="bold brand-logo center">&nbsp&nbsp&nbsp Calorie King&nbsp&nbsp&nbsp</span></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<br>
<br>
<main>
	<div class="row">
		<div class="col s12 m4 l2">
			<p></p>
		</div>
		<div class="col s12 m4 l8">
			<div class="card z-depth-1">
				<div class="card-content">
					<div class="row">
						<form name="loginForm" class="col s12 right-alert" novalidate>
							<div class="row">
								<div class="input-field col s12">
									<i class="mdi-communication-email prefix"></i>
									<input id="email" name="emailId" ng-model="user.email" ng-required="true" type="email" class="validate">
									<label for="email" data-error="Please enter valid email">E-Mail</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="mdi-action-lock-outline prefix"></i>
									<input id="password" type="password" name="password" ng-model="user.password" ng-required="true" class="validate">
									<label for="password" class="">Password</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card-action center-align">
					<a id="loginBtn" class="waves-effect green btn" ng-click="login(user)" href="javascript:void(0)">Login</a>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a class="waves-effect green btn" href="#/signUp">Register</a>
				</div>
				<div class="center-align">
					<a id="loginGoogleBtn" ng-click="loginWithGoogle()" href="javascript:void(0)"><img src="google_sign.png"></a>
				</div>
			</div>
		</div>
		<div class="col s12 m4 l2">
			
		</div>
	</div>
</main>